<div class="content">

<div class="flex-container">
  <div class="frontpage">
    <h1>Featured Exhibit</h1>

  </div>

  <div class="frontpage">
    <h1>Featured Artist </h1>

    <img class="card-img"src="/images/john_bellany_artist.jpg" alt="John Bellany">
    <p class="">jkdjsbfosbfovbs</p>

  </div>
</div>

</div>
