<div class="content">

<div class="flex-container">
  <div class="frontpage">
    <img class="card-img" src="/images/human-study.jpg" alt="John Bellany">
    <div id="groups">
    <h2>Featured Exhibit</h2> <br>
    <p style="padding-bottom:20px">A focus on the human body through the medium of sculpture.</p>
    <a href="#" class="button">Find Out More</a>
    </div>
  </div>

  <div class="frontpage">


    <img class="card-img" src="/images/john_bellany_artist.jpg" alt="John Bellany">
    <div id="groups">
    <h2>Featured Artist </h2> <br>
    <p style="padding-bottom:20px">In our latest artist feature, we take a look at the late John Bellany.</p>
    <a href="/artists/3" class="button">Find Out More</a>
    </div>

  </div>
</div>

</div>
