<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
    <title>The Ballochmyle Gallery</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="images/logo.png" alt="The Ballochmyle Gallery" width="300px"></a>
    <ul>
      <li><a href="/exhibits">What's On</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/visit">Your Visit</a></li>
      <li><a href="/staff">Staff</a></li>
    </ul>
    </header>

    <%= yield %>

  </body>
</html>
