<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Then Ballochmyle Gallery</title>
  </head>
  <body>
    <ul>
      <li><a href="/exhibits">What's On</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/staff">Staff</a></li>
    </ul>

    <%= yield %>

  </body>
</html>
