.staff {
  margin-left: 180px;
}

.sidebar {
  margin-top: 180px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.home {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.list-photo {
  width: 250px;
  height: 250px;
}

#groups{
  margin: 10px;
  padding: 10px;
}
