<div class="content">

<div>
  <img  class="banner" src="/images/Ballochmyle-house.jpg" alt="A view of Ballochmyle House">
</div>

  <h1>Plan Your Visit</h1>

  <h2>What to See</h2>
  <div class="search">

    <form action="/visit/search/artist" method="get">
      <label>
        Search Exhibits By Artist: <br>
        <select name="artist_id">
          <% for assign in @assign %>
          <option value="<%= assign.artist.id %>"><%= assign.artist.name %></option>
          <% end %>
        </select>
      </label>
      <input type="submit" value="Search">
    </form>
    <br>
    <form action="/visit/search/category" method="get">
      <label>
        Search Exhibits By Category: <br>
        <select name="exhibit_id">
          <% for exhibit in @categories %>
          <option value="<%= exhibit.category %>"><%= exhibit.category %></option>
          <% end %>
        </select>
      </label>
      <input type="submit" value="Search">
    </form>
  </div>

  <div>
  <h2>How to Find Us</h2>

  <img src="/images/map.png" alt="Example of what the map would look like">

    <div class="">
      <h3>By Car</h3>
      <p>some details</p>

      <h3>By Bus</h3>
      <p>some details</p>
    </div>
  </div>

</div>
