<div class="staff">

  <h1>Gallery Management</h1>

  <div class="sidebar">
    <a href="/staff">Staff Home</a>
    <a href="/staff/artists/">Artists</a>
    <a href="/staff/exhibits/">Exhibitions</a>
  </div>

  <h2>New Artist Profile</h2>

  <form action="/staff/artist/new" method="post">
    <label>
      Artist Name: <input id="name" type="text" name="name">
    </label>
    <label>
      Birth: <input id="birth" type="text" name="birth">
    </label>
    <label>
      Death: <input id="death" type="text" name="death">
    </label>
    <label>
      Nationality: <input id="nationality" type="text" name="nationality">
    </label>
    <label>
      Bio:
      <textarea id="bio" name="bio" rows="20" cols="120"></textarea>
    </label>
    <label>
      Photo: <input id="photo" type="text" name="photo" value="URL">
    </label>
    <input type="submit" value="Create Profile">
  </form>
</div>
