<div class="content">

  <h1>Gallery Management</h1>

  <div class="flex-container">
    <div class="frontpage">
      <img src="/images/staff-art.jpg" alt="Art" class="home">
        <div id="groups">
          <h2>Artists</h2>
          <p><a href="staff/artists/">All Artists</a></p>
          <p><a href="staff/artist/new">Add New Artist</a></p>
        </div>
    </div>
  </div>

  <div class="flex-container">
    <div class="frontpage">
      <img src="/images/staff-exhibit.jpg" alt="Exhibit" class="home">
        <div id="groups">
          <h2>Exhibitions</h2>
          <p><a href="staff/exhibits/">All Exhibitions</a></p>
          <p><a href="staff/exhibit/new">Add New Exhibition</a></p>
        <div>
    </div>
  </div>

</div>
